@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Hack Nerd Mono";
  src: url(../assets/fonts/HackNerdFontMono-Regular.ttf);
}

@font-face {
  font-family: "Hack Nerd Mono";
  src: url(../assets/fonts/HackNerdFontMono-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: "Inter", sans-serif;
  border-color: #EDEDED;
}

html {
  background-color: #F9F9F9;
}

html, body, #app {
  height: 100%;
}

hr {
  border-width: .5px;
  border-color: #EDEDED;
}

.link {
  text-decoration: underline;
  color: #17A34A;
}

.mono {
  font-family: "Hack Nerd Mono", monospace;
}
